

#flex-container
{
  display:flex;
  flex-wrap:wrap;
  justify-content: flex-start;
}

#flex-container > div
{
  margin:10px;
}

#HFNGlowcoverimg
{
background-color: azure;
}
#HFNGlowcoverimg img
{
height:400px;
width:300px;
}

   #KBHFNGlow
{
  padding-top:20px;
  padding-bottom:20px;
 justify-content: center;
 text-align: center;
 background-color:rgb(242, 242, 219);
 font-family: Arial, Helvetica, sans-serif;  
}
   #KBHFNGlow img
   {
    height:80px;
    width:80px;
    border-radius: 50%;
  }
 
  #KBHFNGlow h3
   {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
   }
 
   #KBHFNGlow p 
   {
     font-size: 10px
   }

 