
  .carousel-control-prev-icon, .carousel-control-next-icon {
        height: 50px;
        width: 50px;
        outline: black;
        background-color: rgba(0, 0, 0, 0.3);
        background-size: 100%, 100%;
        border-radius: 50%;
        border: 1px solid black;
      }

      
.hide-me[aria-expanded="true"] {display: none;}
.hide-me-end[aria-expanded="false"] {display: none;}
      
     #Carsel
     {
      background-color: azure;
     }
     #Carsel img
     {
      height:400px;
      width:300px;
     }
     #About
    {
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: azure;
    }
    #About h2
    {
      text-align: Center;
      font-family: Arial, Helvetica, sans-serif;
      margin-left:10px;
    }
    #About p
    {
      
      text-indent:40px;
    }


    #tstmonials
    {
      padding-top: 20px;
      padding-bottom: 20px;
      justify-content: center;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;  
      background-color:rgb(242, 242, 219);
    }
     #tstmonials img
     {
      height:80px;
      max-width:80px;
      border-radius:50%
     }
     #tstmonials h3
     {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
     }
    #tstmonials p 
    {
      font-size: 10px;
    } 
    #flex-container
    {
      display:flex;
      flex-wrap:wrap;
      justify-content: flex-start;
    }
  
    #flex-container > div
    {
      margin:10px;
    }

   