

label { 
  float: left;
} 

span { 
  float:right;
 display: block; 
 overflow: hidden; 
 padding: 0px 4px 0px 6px; 
} 
input { 
  width: 70%; 
} 

#formfill
{
  background-color: bisque;
}

.btn > a:link, .btn > a:visited {
  width: 200px;
  height:150x;
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.btn > a:hover, .btn > a:active {
  background-color: green;
  color: white;
}
  


