
#NScoverimg
   {

     display:flex;
     justify-content: center;
     Position:relative; 
   }
    #NSdailypractices
    {   
        justify-content: center;
        text-align: center;
        background-color: azure;  
        font-family: Arial, Helvetica, sans-serif;                
    }
    #daychallenge90
    {    
        justify-content: center;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;  
        background-color: azure; 
    }
    #NSlearning
    {
         padding-top: 20px;
         padding-bottom: 20px;
          justify-content:center;
          text-align: center;
          font-family: Arial, Helvetica, sans-serif;  
          background-color:rgb(242, 242, 219);
    }
    #NSdailypractices p 
    {
      font-size: 10px;
    }
    #NSdaychallenge90 p 
    {
      font-size: 10px;
    }
    #NSlearning p 
    {
      font-size: 10px;
    }

    #NSdailypractices img
    {
      height:80px;
      width:80px;
      border-radius:50%;
    }
 
   #NSlearning img
   {
    height:80px;
    max-width:80px;
    border-radius:50%;
  }
  #flex-container
  {
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-start;
  }

  #flex-container > div
  {
    margin:5px;
  }
   .btn > a:link, .btn > a:visited {
    width: 120px;
    height:120px;
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .btn > a:hover, .btn > a:active {
    background-color: green;
    color: white;
  }
   .kbbtn , .dpbtn {
    width: 120px;
    height:120px;
    word-wrap: normal;
    transition: transform .2s;
    border-color:rgb(242, 242, 219);
    background-color:rgb(242, 242, 219);
  }
  .kbbtn:hover , .dpbtn:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }
.dpbtn
{
  background-color: azure; 
}


