
 #Daajicoverimg
    {
      display:flex;
      justify-content: center;
      Position:relative;
    }
 

   .kbbtn {
    padding:10px;
    word-wrap: normal;
    transition: transform .2s;
    border-color:rgb(242, 242, 219); 
  } 
  .kbbtn:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }
  h3{
    text-align: center;
  }

  .youtube-carousel {
    position: relative;
    /*overflow-x:hidden;*/
    overflow-y:hidden;
    background-color:rgb(242, 242, 219);
  }
  
  .carousel-container {
    display: flex;
    transition: transform 0.5s ease;
  }
  
iframe
{
width:200px;
height:150px;
}