
 #Daajicoverimg
    {
      display:flex;
      justify-content: center;
      Position:relative;
    }
   #MasterTalks
   {
     padding-top:20px;
     padding-bottom:20px;
     justify-content: center;
     text-align: center;
     background-color:rgb(242, 242, 219);
   }
   #MasterTalks img
   {
    height:80px;
    width:80px;
    border-radius: 50%;
   }
 
   #MasterTalks h3
   {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
   }
 
   #MasterTalks p 
   {
     font-size: 12px
   }
   #CharijiTalks
   {
    padding-top:20px;
     padding-bottom:20px;
     justify-content: center;
     text-align: center;
     background-color:rgb(242, 242, 219);
   }
   #CharijiTalks img
   {
    height:80px;
    width:80px;
    border-radius: 50%;
  }
 
   #CharijiTalks h3
   {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
   }
 
   #CharijiTalks p 
   {
     font-size: 10px
   }
   #BabujiTalks
   {
    padding-top:20px;
    padding-bottom:20px;
     justify-content: center;
     text-align: center;
     background-color:rgb(242, 242, 219);
   }
   #BabujiTalks img
   {
    height:80px;
    width:80px;
    border-radius: 50%;
  }
 
  #BabujiTalks h3
   {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
   }
 
   #BabujiTalks p 
   {
     font-size: 10px
   }
   #LalajiTalks
   {
    padding-top:20px;
     padding-bottom:20px;
     justify-content: center;
     text-align: center;
     background-color:rgb(242, 242, 219);
   }
   #LalajiTalks img
   {
    height:80px;
    width:80px;
    border-radius: 50%;
  }
 
  #LalajiTalks h3
   {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
   }
 
   #LalajiTalks p 
   {
     font-size: 10px;
   }

   #flex-container
   {
     display:flex;
     flex-wrap:wrap;
     justify-content: flex-start;
   }
 
   #flex-container > div
   {
     margin:10px;
   }

   .kbbtn {
    /*width:120px;
    height:120px;*/
    padding:10px;
    word-wrap: normal;
    transition: transform .2s;
    border-color:rgb(242, 242, 219);
    /*background-color:rgb(242, 242, 219);*/   
  } 
  .kbbtn:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }
  h3{
    text-align: center;
  }

  .youtube-carousel {
    position: relative;
    /*overflow-x:hidden;*/
    overflow-y:hidden;
    background-color:rgb(242, 242, 219);
  }
  
  .carousel-container {
    display: flex;
    transition: transform 0.5s ease;
  }
/*
  .carousel-container_b {
    display: flex;
    transition: transform 0.5s ease;
  }
  /*
  .prev-arrow, .next-arrow,.prev-arrow_b, .next-arrow_b {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px; /* Increase the font size to make the arrows bigger */
   /* padding: 8px; /* Add some padding to make the arrows more clickable */
   /* border-radius: 0%; /* Make the arrows circular */
  /*  background-color: #fff; /* Change the background color to your preference 
   cursor: pointer; 
  }
   
  .prev-arrow,.prev-arrow_b {
    left: 0;
  }
  
  .next-arrow,.next-arrow_b {
    right: 0;
  }
 
  .prev-arrow:hover, .next-arrow:hover,.prev-arrow_b:hover, .next-arrow_b:hover {
    background-color: #ccc; /* Change the background color on hover 
  } */
/*
  iframe
  { 
box-sizing: border-box;
width: 120px;
margin:0px;
padding:0px;
  } */

  
iframe
{
width:120px;
height:90px;
}