

#HFNAppscoverimg
{
background-color: azure;
}
#HFNAppscoverimg img
{
height:400px;
width:300px;
}

   #KBHFNApps,#KBHFNWebsites
{
  padding-top:20px;
  padding-bottom:20px;
 justify-content: center;
 text-align: center;
 background-color:rgb(242, 242, 219);
 font-family: Arial, Helvetica, sans-serif;  
}

   #KBHFNApps  img
   {
    height:80px;
    width:80px;
    border-radius: 20%;
  }

  #KBHFNWebsites  img
  {
   height:80px;
   width:80px;
   border-radius: 25%;
 }
 
  #KBHFNApps  h3
   {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
   }

   #KBHFNWebsites  h3
   {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
   }
 
   #KBHFNApps  p 
   {
     font-size: 10px
   }
   #KBHFNWebsites p
   {
    font-size: 10px
  }
  #flex-container
  {
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
  }

  @media (max-width: 768px)
  {
    #flex-container
    {
      display:flex;
      flex-wrap:wrap;
      justify-content:space-between;
    }
    #HFNAppscoverimg img
{
height:250px;
width:300px;
}
  }
#flex-container > div
{
  margin:10px;
}
   .kbbtn {
    width: 120px;
    height:120px;
    word-wrap: normal;
    transition: transform .2s;
    border-color:rgb(242, 242, 219);
    background-color:rgb(242, 242, 219);
  }
  .kbbtn:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }


