
* {box-sizing: border-box;}

#Carsel
{
 background-color: rgb(184, 234, 234);
}
#Carsel img
{
 height:400px;
 width:300px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
}

#About
{
  padding-top: 10px;
  background-color: azure;
}
#About h2
{
  text-align: Center;
  font-family: Arial, Helvetica, sans-serif;
  margin-left:10px;
}
#About p
{
  
  text-indent:40px;
}
#HFNRetreats
{
  padding-top:20px;
 padding-bottom:20px;
 justify-content: center;
 text-align: center;
 background-color:rgb(242, 242, 219);
 font-family: Arial, Helvetica, sans-serif;  
}
#HFNRetreats img
    {
      height:80px;
      width:80px;
      border-radius:20%;
    }

#HFNRetreats h3
    {
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
    }
  #HFNRetreats p 
   {
     font-size: 10px
   }
   #flex-container
   {
     display:flex;
     flex-wrap:wrap;
     justify-content: flex-start;
   }
   
   #flex-container > div
   {
     margin:10px;
   }

   #flex-container > .kbbtn
   {
    justify-content:space-evenly;
   }
#KBHFNRetreats
{
 padding-top:20px;
 padding-bottom:20px;
 justify-content: center;
 text-align: center;
 background-color:rgb(242, 242, 219);
 font-family: Arial, Helvetica, sans-serif;  
}
#KBHFNRetreats img
   {
    height:80px;
    width:80px;
    border-radius: 50%;
  }
 
  #KBHFNRetreats h3
   {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
   }
 
   #KBHFNRetreats p 
   {
     font-size: 10px
   }

  
