
     #Abcoverimg
     {
      background-color: azure;
     }
     #Abcoverimg img
     {
      height:400px;
      width:300px;
     }
     
     #daychallenge90
     {
      padding-top:20px;
      padding-bottom:20px;
      justify-content: center;
      text-align: center;
      background-color: azure; 
      font-family: Arial, Helvetica, sans-serif;  
     }
     #daychallenge90 h3
     {
       text-align: center;
     }
    #Ablearning
    {
      padding-top:20px;
      padding-bottom:20px;
      justify-content: center;
      text-align: center;
      background-color:rgb(242, 242, 219);
    }
    #Ablearning img
   {
    height:80px;
    width:80px;
    border-radius:20%;
  }
    #Ablearning h3
    {
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
    }
  
    #Ablearning p 
    {
      font-size: 10px
    }

    .kbbtn {
      width: 120px;
      height:120px;
      word-wrap: normal;
      transition: transform .2s;
      border-color:rgb(242, 242, 219);
      background-color:rgb(242, 242, 219);
    }

    #flex-container
    {
      display:flex;
      flex-wrap:wrap;
      justify-content: flex-start;
    }
  
    #flex-container > div
    {
      margin:10px;
    }
     .btn > a:link, .btn > a:visited {
      width: 100px;
      height:120px;
      background-color: white;
      color: black;
      border: 2px solid green;
      padding: 5px 5px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
    
    .btn > a:hover, .btn > a:active {
      background-color: green;
      color: white;
    }
    
    .kbbtn:hover {
      -ms-transform: scale(1.5); /* IE 9 */
      -webkit-transform: scale(1.5); /* Safari 3-8 */
      transform: scale(1.5); 
    }

   
  
  
  /* Darker background on mouse-over */
